[client]
protocol = socket
socket = /var/run/mysqld/mysqld.sock
port = 3306
host     = localhost
user     = debian-sys-maint
password = {{ mysql_debian_sys_password }}

[mysqld]
#innodb_force_recovery=1
port = 3306
socket   = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
tmpdir = /dev/shm
#tmpdir = /tmp
back_log = 75
max_connections = 200
key_buffer_size = 32M
myisam_sort_buffer_size = 16M
join_buffer_size = 1M
read_buffer_size = 1M
sort_buffer_size = 2M
table_definition_cache = 1024
thread_cache_size = 64
wait_timeout = 60
connect_timeout = 60
tmp_table_size = 128M
max_heap_table_size = 64M
max_allowed_packet = 64M
max_connect_errors = 10
read_rnd_buffer_size = 524288
bulk_insert_buffer_size = 8M
query_cache_limit = 4M
query_cache_size = 128M
#query_cache_size = 0
query_cache_type = 1
query_prealloc_size = 65536
query_alloc_block_size = 32768
query_cache_min_res_unit = 2048
optimizer_search_depth = 4
long_query_time = 1
slow_query_log = 1
log_output = FILE
slow_query_log_file = /var/log/mysql/slow.log
#general_log_file = /var/log/mysql/general.log
#general_log = 0

thread_handling = pool-of-threads

# Replication
server-id = 1
#log-bin = /var/log/mysql/mysql-binlog

# INNODB
default-storage_engine = innodb
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = ALL_O_DIRECT #Percona
innodb_buffer_pool_size = {{ innodb_buffer_pool_size }}
innodb_log_file_size = 512M # http://www.mysqlperformanceblog.com/2008/11/21/how-to-calculate-a-good-innodb-log-file-size/
innodb_log_files_in_group = 2 #DEFAULT, NON CAMBIARE
innodb_log_buffer_size = 8M
innodb_file_per_table
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 50 # MASSIMO TEMPO IN SECONDI CHE INNODB ASPETTA PER OTTENERE IL LOCK DI UNA TABELLA
innodb_rollback_on_timeout

query_cache_strip_comments = 1

[mysqld_safe]
nice = -5
#open_files_limit = 8192
err-log=/var/log/mysql/mysql.err

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer = 64M
sort_buffer = 128M
read_buffer = 16M
write_buffer = 16M

[mysqlhotcopy]
interactive-timeout

[mysql_upgrade]
host     = localhost
user     = debian-sys-maint
password = {{ mysql_debian_sys_password }}
socket   = /var/run/mysqld/mysqld.sock
basedir  = /var

