---
dev: true

cpu_core: 4
ram: 512

users:
  - usu

main_user: vagrant

mysql_version: '5.6'
mysql_root_password: somepass
mysql_users:
  - {name: somedb, password: somepass}

mysql_debian_sys_password: somepass

innodb_buffer_pool_size: 128M

synced_folders:
  - {local: "/Users/andrea/Development/mine/blog", remote: "/home/usu/blog"}
